@model CRUD_El_Colombiano.Models.PersonasInteresada
@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="text-danger">¿Esta seguro de eliminar la información?</h3>
<hr />
<div class="row">
    <div class="col-sm-4">

        <form asp-action="EliminarPEr" asp-controller="Home" method="post">
            <input type="hidden" asp-for="Id" />

            <div class="mb-2">
                <label class="form-label" asp-for="Nombre">Nombre Completo</label>
                <input class="form-control form-control-sm" asp-for="Nombre" type="text" disabled/>
            </div>

            <div class="mb-2">
                <label class="form-label" asp-for="Apellido">Apellido Completo</label>
                <input class="form-control form-control-sm" asp-for="Apellido" type="text" disabled />
            </div>

            <div class="mb-2">
                <label class="form-label" asp-for="CorreoElectronico">Correo</label>
                <input class="form-control form-control-sm" asp-for="CorreoElectronico" type="text" disabled />
            </div>

            <div class="mb-2">
                <label class="form-label" asp-for="NumeroTelefono">Numero de Telefono</label>
                <input class="form-control form-control-sm" asp-for="NumeroTelefono" type="text" disabled />
            </div>

            <div class="mb-3">
                <label class="form-label" asp-for="ProyectoDeInteres">Proyecto de Interes</label>
                <input class="form-control form-control-sm" asp-for="ProyectoDeInteresNavigation.Codigo" type="text" disabled/>
            </div>

            <div class="mb-2">

                <button class="btn btn-darger btn-sm w-25" type="submit">Eliminar</button>

                <a class="btn btn-dark btn-sm" asp-action="Index" asp-controller="Home">Volver</a>
            </div>

        </form>

    </div>
</div>

