@model CRUD_El_Colombiano.Models.ViewModels.ClienteVM
@{
    ViewData["Title"] = "PersonaInteDetalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if(Model.oPersona.Id == 0)
{
    <h1>Crear Persona Interesada</h1>
}
else
    {
        <h1>Editar Persona Interesada</h1>
    }

<div class="row">
    <div class="col-sm-4">

        <form asp-action="PersonaInteDetalle" asp-controller="Home" method="post">
            <input type="hidden" asp-for="oPersona.Id" />

            <div class="mb-2">
                <label class="form-label" asp-for="oPersona.Nombre">Nombre Completo</label>
                <input class="form-control form-control-sm" asp-for="oPersona.Nombre" type="text" />
            </div>

            <div class="mb-2">
                <label class="form-label" asp-for="oPersona.Apellido">Apellido Completo</label>
                <input class="form-control form-control-sm" asp-for="oPersona.Apellido" type="text" />
            </div>

            <div class="mb-2">
                <label class="form-label" asp-for="oPersona.CorreoElectronico">Correo</label>
                <input class="form-control form-control-sm" asp-for="oPersona.CorreoElectronico" type="text" />
            </div>

            <div class="mb-2">
                <label class="form-label" asp-for="oPersona.NumeroTelefono">Numero de Telefono</label>
                <input class="form-control form-control-sm" asp-for="oPersona.NumeroTelefono" type="text" />
            </div>

           
        </form>

    </div>
</div>

